<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Feature comparison of Perl 6 compilers</title>
    <link href="http://perl6.org/favicon.ico" rel="shortcut icon"
        type="image/x-icon">
    <link href="http://perl6.org/bootstrap/css/bootstrap.min.css"
        rel="stylesheet">
    <link href="http://perl6.org/bootstrap/css/bootstrap-theme.min.css"
        rel="stylesheet">
    <link href="http://perl6.org/style.css" rel="stylesheet">
    <style>
        .implemented, .implemented a {
            background-color: #3c3;
            color:            white;
        }
        .partial    , .partial a     {
            background-color: #fb4;
            color:            #333;
        }
        .missing    , .missing a     {
            background-color: #f55;
            color:            white;
        }
        .unknown    , .unknown a      {
            background-color: #ccc;
            color:            white;
        }
        .implemented, .partial, .missing, .unknown {
            text-align:         center;
            width:              150px;
            font-weight:        bold;
            font-family:        monospace;
            font-size:          18px;
            -moz-border-radius: 15px;
            border-radius:      15px;
            position: relative;
        }
        .subsection {
            padding-top: 1em;
            text-align: left;
        }
        .minor {
            font-size:  smaller;
            font-style: italic;
        }
        .footnote_link {
            font-size: 70%;
            position:  absolute;
            top: 10px;
            right: 55px;
        }
        .footnotes li { margin-bottom:0em; }
        :target {
            background-color: #FFFF66;
        }
    </style>
</head>
<body>
<div class="bg">
  <div class="container">
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li id="nav-home"><a href="http://perl6.org/">Home</a></li>
            <li id="nav-community"><a href="http://perl6.org/community/"
                >Community</a></li>
            <li id="nav-docs"><a href="http://perl6.org/documentation/"
                >Documentation</a></li>
            <li id="nav-specs"><a href="http://perl6.org/specification/"
                >Design</a></li>
            <li id="nav-compilers" class="active"
                ><a href="http://perl6.org/compilers/">Compilers</a></li>
            <li id="nav-fun"><a href="http://perl6.org/fun/">Fun</a></li>
            <li id="nav-whatever"><a href="http://perl6.org/whatever/"
                >Whatever</a></li>
            <li id="nav-faq"><a href="http://faq.perl6.org/">FAQ</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="subpage-header">
        <img src="http://perl6.org/camelia-logo-small.png" width="140" height="130"
        alt="Camelia, the Perl 6 bug" />

    <h2>Feature comparison of Perl 6 compilers</h2>
    </div>

    <h2>Legend</h2>
    <dl>
        <dt class="implemented">+</dt>
            <dd>implemented</dd>
        <dt class="partial">&#177;</dt>
            <dd>partially implemented</dd>
        <dt class="missing">-</dt>
            <dd>not yet implemented</dd>
        <dt class="unknown">?</dt>
            <dd>unknown status</dd>
    </dl>

    <p><small><a href='#pugs'>Why isn't Pugs listed here?</a></small></p>
    <h2>Features</h2>
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Feature</th>
                    <%loop compilers%>
                    <th><a href="<%var url%>"><%var name%></a></th>
                    <%/loop%>
                    <th>Links</th>
                </tr>
            </thead>
            <tbody>
                <%loop sections%>
                <tr><th class="subsection" style="padding-top: 20px"
                    id="<%var section escape=url%>"><%var section%></th></tr>
                    <%loop items%>
                        <tr><td style="border-bottom:1px dotted #98CAEB"><%var item%></td>
                        <%loop ratings%>
                        <td><div class="<%var class%>"><%var status%><%if footnote%><sup class="footnote_link">&nbsp;<a href="#footnote_<%var footnote%>" title="<%var foottext%>"><%var footnote%></a></sup><%/if%>
                            </div></td>
                        <%/loop%>
                        <td>
                            <%loop spec%>
                                <a href='<%var spec%>'>spec</a>
                            <%/loop%>
                            <%loop code%>
                                <a href='<%var code%>'>code</a>
                            <%/loop%>
                        </td>
                        </tr>
                    <%/loop%>
                <%/loop%>
            </tbody>
        </table>
    </div>

    <h3>Footnotes</h3>
    <ol class='footnotes'>
        <%loop footnotes%>
            <li id="footnote_<%var id%>"><%var text%></li>
        <%/loop%>
    </ol>

    <p>Please note that this feature matrix generally represents the state of
    the latest development versions of the compilers, not that of the latest
    release.</p>

    <p><a id='pugs' name='pugs'></a>A note about Pugs:
    <a href='http://pugscode.org/'>Pugs</a> is a
    Perl 6 compiler written in Haskell, based largely on much older
    versions of the Perl 6 specification.  Because Pugs is not being
    actively maintained, many things are "broken" and it's not really
    a useful comparison for this chart.</p>

    <hr />
    <p>
        This page is generated by <code>process.pl</code> from
        <code>template.html</code> and <code>features.json</code>, all of
        which can be found in the <a
        href="https://github.com/perl6/features/">perl6/features</a>
        repository. The canonical location for this page is at
        <a href="http://perl6.org/compilers/features">http://perl6.org/compilers/features</a>
        and is updated at least hourly.
    </p>
    <p>
        If you find any information here lacking or inaccurate, please fix it
        in the repository mentioned above. If you don't have commit access
        yet, please ask on <a href="http://perl6.org/community/irc">the #perl6
        IRC channel</a>.
    </p>
    <p class="minor">
        The data to generate this page was last updated <%var when%>;
        The page itself was updated <%var now%>
    </p>

  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <section class="col-sm-6 col-md-5ths">
        <h4><a href="http://perl6.org/community/">Community</a></h4>
        <ul class="shush-list">
          <li><a href="http://perl6.org/community/irc">#perl6 IRC channel</a>: <a href="irc://irc.freenode.net/%23perl6">system IRC client</a>
          or&nbsp;<a href="http://webchat.freenode.net/?channels=perl6&amp;nick=">chat live in your browser</a></li>
          <li><a href="http://perl6.org/community/rosettacode">Perl&nbsp;6 on Rosetta Code</a>, <a href="http://pl6anet.org/">Blogs</a></li>
        </ul>

        <a href="http://perl6.org/community/" class="btn btn-success">More</a>
      </section>

      <section class="col-sm-6 col-md-5ths">
        <h4><a href="http://perl6.org/documentation/">Documentation</a></h4>
        <ul class="shush-list">
          <li><a href="http://perl6.org/getting-started/"
            >Getting started</a></li>
          <li><a href="http://doc.perl6.org/">Perl&nbsp;6 Documentation</a></li>
          <li><a href="http://doc.perl6.org/language/5to6">Perl&nbsp;5 to 6</a>,
              an introduction for Perl&nbsp;5 programmers</li>
        </ul>
          <a href="http://perl6.org/documentation/"
            class="btn btn-success">More</a>
      </section>

      <section class="col-sm-6 col-md-5ths">
        <h4><a href="http://perl6.org/whatever/">Modules</a></h4>

        <ul class="shush-list">
          <li><a href="http://modules.perl6.org/">Perl&nbsp;6 modules
              directory</a></li>
          <li><a href="https://github.com/tadzik/panda/">Panda</a>, a
          module installer for Rakudo</li>
        </ul>

        <a href="http://perl6.org/whatever/" class="btn btn-success">More</a>
      </section>

      <section class="col-sm-6 col-md-5ths">
        <h4><a href="http://perl6.org/compilers/">Compilers</a></h4>
        <ul class="shush-list">
            <li><a href="http://rakudo.org/">Rakudo</a>, a compiler running on
                <a href="http://moarvm.com/">MoarVM</a>,
                 the JVM and other backends.</li>
        </ul>
        <a href="http://perl6.org/compilers/" class="btn btn-success">More</a>
      </section>

      <section class="col-sm-6 col-md-5ths">
        <h4><a href="http://perl6.org/specification/">Language Design</a></h4>
        <ul class="shush-list">
          <li><a href="http://design.perl6.org/">Synopsis</a> - official Perl&nbsp;6 design documents</li>
          <li><a href="http://perl6.org/compilers/std-viv"
            >STD.pm</a> - official Perl&nbsp;6 grammar</li>
        </ul>
        <a href="http://perl6.org/specification/"
            class="btn btn-success">More</a>
      </section>
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://perl6.org/bootstrap/js/bootstrap.min.js"></script>
<script src="http://perl6.org/js.js"></script>

</body>
</html>

